{% extends 'base.html' %}

{% block title %}Falcon - Climber{% endblock title %}

{% block content %}
    <div class='row'>
        <div class='large-4 columns'>
            <h3>Menu</h3>
            <ul class='side-nav'>
                <li><a href='#'>Link 1</a></li>
                <li><a href='#'>Link 2</a></li>
                <li><a href='#'>Link 3</a></li>
                <li><a href='#'>Link 4</a></li>
        </div>
        <div class='large-8 columns'>
            <h3 class='text-right'>Latest match results</h3>
            <table width='100%'>
                <thead>
                    <tr>
                        <th width='100'>Day</th>
                        <th width='179'>Challenger</th>
                        <th width='179'>Opponent</th>
                        <th width='70' colspan='2' class='text-center'>Result</th>
                    </tr>
                </thead>
                <tbody>
                {% for game in recent_games %}
                    <tr>
                        <td>{{ game.day }}</td>
                        <td>{{ game.challenger }}</td>
                        <td>{{ game.opponent }}</td>
                        {% if game.challenger_score > game.opponent_score %}
                            <td class='text-right' style='padding-right:2px'><strong>{{ game.challenger_score }}</strong> -</td>
                            <td style='padding-left:2px'>{{ game.opponent_score }}</td>
                        {% else %}
                            <td class='text-right' style='padding-right:2px'>{{ game.challenger_score }} -</td>
                            <td style='padding-left:2px'><strong>{{ game.opponent_score }}</strong></td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class='row'>
        <div class='large-12 columns'>
            <h2>Standings</h2>
            <table width='100%'>
                <thead>
                    <tr>
                        <th width='90' rowspan='2' class='text-center'>Rank</th>
                        <th width='159' rowspan='2' style='border-right: 1px solid #d8d8d8'>Player</th>
                        <th colspan='4' class='text-center' style='border-right: 1px solid #d8d8d8'>Games</th>
                        <th colspan='3' class='text-center' style='border-right: 1px solid #d8d8d8'>Goals</th>
                        <th width='90' rowspan='2' class='text-center'>Points</th>
                    </tr>
                    <tr>
                        <th width='90' class='text-center'>Won</th>
                        <th width='90' class='text-center'>Lost</th>
                        <th width='90' class='text-center' nowrap>Win %</th>
                        <th width='90' class='text-center' style='border-right: 1px solid #d8d8d8'>Streak</th>
                        <th width='90' class='text-center'>Scored</th>
                        <th width='90' class='text-center'>Against</th>
                        <th width='90' class='text-center' style='border-right: 1px solid #d8d8d8'>Net</th>
                    </tr>
                </thead>
                <tbody>
                {% for player in ranking %}
                    <tr>
                        <td class='text-center'>{{ loop.index }}</td>
                        <td>{{ player.name }}</td>
                        <td class='text-center'>{{ player.games_won }}</td>
                        <td class='text-center'>{{ player.games_lost }}</td>
                        <td class='text-center'>{{ (player.games_won / (player.games_won + player.games_lost) * 100) | round(1) }}</td>

                        {% if player.games_streak > 0 %}
                            <td class='text-center' style='color: #43ac6a'>{{ player.games_streak }} won</td>
                        {% elif player.games_streak < 0 %}
                            <td class='text-center' style='color: #f04124'>{{ player.games_streak * -1 }} lost</td>
                        {% else %}
                            <td class='text-center'>{{ player.games_streak }}</td>
                        {% endif %}

                        <td class='text-center'>{{ player.goals_scored }}</td>
                        <td class='text-center'>{{ player.goals_against }}</td>

                        {% if player.goals_scored > player.goals_against %}
                            <td class='text-center' style='color: #43ac6a'>+{{ player.goals_scored - player.goals_against }}</td>
                        {% elif player.goals_scored < player.goals_against %}
                            <td class='text-center' style='color: #f04124'>-{{ player.goals_scored - player.goals_against }}</td>
                        {% else %}
                            <td class='text-center'>{{ player.goals_scored - player.goals_against }}</td>
                        {% endif %}

                        <td class='text-center'>{{ player.points }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}
