<!doctype html>
<!--[if IE 9]><html class='lt-ie10' lang='en'> <![endif]-->
<html class='no-js' lang='en'>
<head>
    <title>Falcon - Climber</title>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='shortcut icon' href='static/img/favicon.ico' type='image/x-icon'>
    <link rel='stylesheet' href='static/css/normalize.css'>
    <link rel='stylesheet' href='static/css/foundation.css'>
    <script src='static/js/vendor/modernizr.js'></script>
</head>
<body>
    <div class='row'>
        <div class='large-12 colums'>
            <h1>Climber</h1>
        </div>
    </div>

    <div class='row'>
        <div class='large-12 columns'>
            <div class='panel'>
                <div class='row'>
                    <div class='large-7 columns'>
                        <h3>Latest match results</h3>
                        <table>
                            <thead>
                                <tr>
                                    <th width='100'>Day</th>
                                    <th width='179'>Challenger</th>
                                    <th width='179'>Opponent</th>
                                    <th width='70' colspan='2' class='text-center'>Result</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for game in recent_games %}
                                <tr>
                                    <td>{{ game.day }}</td>
                                    <td>{{ game.challenger }}</td>
                                    <td>{{ game.opponent }}</td>
                                    {% if game.challenger_score > game.opponent_score %}
                                        <td class='text-right' style='padding-right:2px'><strong>{{ game.challenger_score }}</strong> -</td>
                                        <td style='padding-left:2px'>{{ game.opponent_score }}</td>
                                    {% else %}
                                        <td class='text-right' style='padding-right:2px'>{{ game.challenger_score }} -</td>
                                        <td style='padding-left:2px'><strong>{{ game.opponent_score }}</strong></td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class='large-5 columns'>
                        <h3>Introduction</h3>
                        <blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et arcu porttitor, molestie augue non, feugiat arcu. Praesent sed blandit ante. Quisque ut aliquam metus. Etiam pretium, turpis in elementum accumsan, odio tortor placerat quam, vel elementum mauris augue sit amet neque. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce ultricies et nulla ut commodo. Integer non volutpat leo.</blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src='static/js/vendor/jquery.js'></script>
    <script src='static/js/foundation.js'></script>
    <script>
        $(document).foundation();
    </script>
</body>
</html>
